/* 初始化样式 */
*{
    margin:0;
    padding:0;
    list-style: none;
    text-decoration: none;
    font-size: 14px;
    font-family: "微软雅黑 Light";
    cursor: default;
}
h2{
    font-size:2em;
    font-weight: bold;
}
h3{
    font-size:1.5em;
    font-weight: bold;

}
strong{
    font-size: 1em;
}
.banner,.content,.fContent{
    width: 1100px;
    margin: 0 auto;
}
.line{
    height: 27px;
    border-bottom: 1px solid #00205b;
}
.title_box{
    width: 18%;
    /* height: 60px; */
    margin: 0 auto;
    text-align: center;
    background-color: #fff;
}
.title_box span{
    font-size: 1.5em;
}
.title_box .englishTitle{
    font-weight: bold;
    color:#005387;
}
.title_box .chineseTitle{
    color:#003666;
    font-weight: bold;
}


/* header */
.wrapper{
    width: 100%;
    height: 50px;
    background: rgba(12,56,102,0.8);
    position: fixed;
    z-index: 999;
}
.header{
    position: relative;
    height: 50px;
    width: 1100px;
    margin: 0 auto;
}
.header img{
    float: left;
    margin:2.5px 10px 0 0;
    width: 45px;
    height: 45px;
    /*color:#FAFAFA;*/
}

.header h2{
    text-align: center;
    line-height: 50px;
    color:#FAFAFA;
    float: left;
    cursor: pointer;
}
.header p{
    display: block;
    text-align: center;
    line-height: 50px;
    float: right;
}
.header p > a{
    font-size: 16px;
    color: #FAFAFA;
}
.header p > a:hover{
    color: #fff;
    font-weight: bold;
}


/* banner */
.banner{
    position: relative;
    width: 1100px;
    height: 350px;
    top: 50px;
    /* border: 1px solid #000; */
    overflow: hidden;
    border-radius: 0 0 10px 10px;
}
.banner .minBanner{
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0,54,102,0.3);
    color: #FAFAFA;
    z-index: 888;
    text-align: center;
    line-height: 520px;
    font-family: Verdana;
    font-size: 80px;
    opacity: 0.8;
}
.banner .sliderPage{
    position: absolute;
    left: 0;
    top: 0;
    height: 350px;
    width: 5500px;
}
.banner .sliderPage li{
    width: 1100px;
    height: 100%;
    float: left;
}
.banner .sliderPage li img{
    width: 100%;
    height: 100%;
}

.banner .btn{
    position: absolute;
    top:50%;
    margin-top: -20px;
    width: 40px;
    height: 40px;
    color: #fff;
    background-color: #003666;
    text-align: center;
    line-height: 40px;
    opacity: 0.1;
    border-radius: 50%;
    cursor: pointer;
    z-index: 889;
}
.banner .btn:hover{
    opacity: 0.7;
}
.banner .leftBtn{
    left: 15px;
}
.banner .rightBtn{
    right: 15px;
}

.banner .sliderIndex{
    position: absolute;
    width: 100%;
    bottom: 10px;
    text-align: center;
    z-index: 999;
}
.banner .sliderIndex span{
    position: relative;
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: gray;
    opacity: 0.3;
    border-radius: 50%;
    margin-left: 10px;
    cursor: pointer;
}
.banner .sliderIndex .active{
    opacity: 1;
}

/* content */
.content{
    margin-top: 75px;
}
/* content news */
.content .roll_news{
    position: relative;
    left: 0;
    top: 0;
    height: 370px;
    width: 1100px;
    margin-top: 5px;
    overflow: hidden;
}
.content .roll_news:hover .conLeftBtn + .conRightBtn{
    visibility: visible;
}
.content .roll_news .conBtn .conLeftBtn{
    font-size: 30px;
}
.content .roll_news .conBtn .conRightBtn{
    font-size: 30px;
}
.content .news{
    width: 300px;
    height: 280px;
    margin: 50px 0 0 50px;
    float: left;
    position: relative;
}
.content .news img{
    width: 100%;
    height: 100%;
    position: absolute;
    /* border: 1px solid #ccc; */
    box-shadow:0 0 3px 1px #8db9ca;
}
.content .news h3{
    color: #00205b;
}
.content .news .newsContent{
    width: 100%;
    height: 80px;
    /* margin-top: 200px; */
    background: rgba(141,185,202, 0.5);
    /*visibility: hidden;*/
    cursor: pointer;
    position: absolute;
    bottom: 0;
}
.content p{
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.content .news:hover .newsContent{
    height: 100%;
    top: 0;
    background: rgba(141,185,202, 0.8);
}
.content .news:hover p{
    white-space: normal;
    line-height: 25px;
}



/* content introduce */
.intrContent{
    height: 320px;
    width: 100%;
    position: relative;
}
.intrContent > h3{
    margin: 50px 0 0 50px;
    font-family: Verdana;
    color: #002663;
}
.intrContent > p{
    display: block;
    position: absolute;
    width: 45%;
    margin: 15px 0 0 50px;
    white-space: normal;
    font-size: 1.2em;
    line-height: 28px;
    color: #4d4f53;
    overflow: hidden;
}
.intrContent >img{
    display: block;
    margin: -20px 50px 0 0;
    width: 400px;
    height: 285px;
    float: right;
}


/* footer */
.footer{
    width: 100%;
    height: 90px;
    background: #333;
}
.footer img{
    float: left;
    margin-top: 13px;
    width: 65px;
    height: 65px;
}
.footer .fInformation{
    position: absolute;
    font-size: 0.7em;
    color: lightgray;
    width: 900px;
    margin: 10px 0 0 75px;
    padding: 10px 0 0 25px;
    line-height: 20px;
    border-left: 1px solid lightgray;
}
.footer .copyright{
    color: rgb(201, 191, 191);
    font-size: 6px;
    text-align: center;
}